{% extends 'base.html' %}

{% block content-head %}

    <div>
        <h2> О НАС </h2>
        <p>Спасибо, что нашли время и зашли на эту страницу!</p>
        <p>Можно ли нам доверять и почему именно в нашем интернет-магазине вам стоит сделать покупку? Это действительно важные вопросы!</p>
        <p>Сейчас на нашем складе готово к отгрузке
            <strong>149244</strong>
            различных товаров.</p>
        <p>Да, мы занимаемся оптовой и розничной продажей уже давно. 20 лет назад, когда мы начинали, в нашей стране не было
            сотовой связи и интернета. На смену одним технологиям приходили другие... Мир изменился – он стал быстрее и
            удобнее.</p>
        <p>Сегодня вы можете оформить заказ на сайте с доставкой или получить его в пункте выдачи заказов.</p>
        <p>Мы привезем товар в любую точку Беларуси с удобной для вас формой оплаты или предоставим рассрочку до 36 месяцев на любой товар.</p>

        <p>Добро пожаловать в наш Большой магазин.</p>
        <p>С уважением,
            Команда SHOP</p>
    </div>

{% endblock %}
