{% extends 'base.html' %}

{% block content-head %}

    <h1 class="bread-h1 catalog-header-news-articles">Доставка по Минску</h1>
    <div class="general-page">
        <h2>Доставка товара типа Стандартный</h2>
        <p>Доставка заказов с типом товара стандартный по г. Минску и в пределах 10 км от МКАД осуществляется курьерской службой SHOP.by.</p>
        <p>Заказы стоимостью более 70 руб. – доставляются Бесплатно.<br>
        Стоимость доставки заказов менее 70 руб. составляет 5,5 руб.</p>


    <div class="additional-conditions additional-conditions--small">
        <h3>Общая информация</h3>
        <p>Информация о стоимости доставки доступна в карточке товара и в корзине, подтверждается специалистом Отдела продаж при оформлении заказа. Срок исполнения всего заказа равен максимальному сроку доставки товара в заказе.</p>
        <p>Доставка осуществляется с 11:00 до 15:00 и с 18:00 до 22:00. По согласованию с клиентом возможна более поздняя доставка.</p>
        <p>При наличии в заказе товара типа обычный и стройгруз стоимость доставки тарифицируется на условиях типа товара стройгруз.</p>

        <h3>Условия доставки товара по Минску</h3>
        <ul class="circle-marker-list">
            <li>Временной интервал доставки не может быть менее трёх часов. В это время Вы должны находиться по согласованному адресу. Курьер вправе ожидать Вас по адресу не более 15 мин</li>
            <li>Курьер уведомляет Вас о своем выезде за 15–20 минут до приезда.</li>
            <li>Время нахождения курьера по адресу не может превышать 30 минут.</li>
            <li>Заказы весом менее 15 кг доставляются в первое помещение квартиры (частного дома).</li>
            <li>Заказы весом более 15 кг могут быть доставлены в первое помещение квартиры (частного дома) по предварительному согласованию с менеджером отдела продаж при оформлении заказа.</li>
            <li>Курьер поможет Вам осуществить подъем холодильника, стиральной машины или другого крупногабаритного тяжеловесного товара только по предварительной договоренности с менеджером отдела продаж при оформлении заказа. </li>
        </ul>
        <h3>Порядок приема-передачи товара</h3>
        <ul class="circle-marker-list">
            <li>Курьер вместе с клиентом вскрывает упаковку, демонстрирует внешнее состояние и проверяет комплектность товара. </li>
            <li>Курьер может проверить работоспособность заказанного товара путем включения в сеть, если это не требует предварительной сборки.</li>
            <li>Курьер не обязан демонстрировать функциональные возможности изделия, пробовать в работе или проводить обучение, по его использованию.</li>
            <li>После проверки товара курьер заполняет гарантийный талон на изделие актуальной датой и ставит в нем печать организации. </li>
            <li>Вы ставите свою подпись в гарантийном талоне, подтверждая, что товар Вами осмотрен и претензий по внешнему виду и комплектности нет.</li>
            <li>После заполнения гарантийного талона необходимо произвести расчет. Расчет за товар производится только в белорусских рублях.</li>
            <li>Сотрудник службы доставки может проверить документ подтверждающий оплату.</li>
        </ul>
    </div>

{% endblock %}
