{% extends 'base.html' %}

{% block content-head %}

    <h2> Договор публичной оферты на приобретение товаров в Интернет-магазине SHOP для физических лиц</h2>

    <h3> 1. Общие положения </h3>

    <h4> 1.1. Настоящий договор определяет порядок осуществления Продавцом купли-продажи товара в интернет-магазине и в соответствии со статьей 405 Гражданского кодекса Республики Беларусь является официальной публичной офертой Продавца, адресуемой неопределенному кругу физических лиц.
1.2. Продавец в своей деятельности руководствуется Гражданским кодексом Республики Беларусь, Закон Республики Беларусь "О государственном регулировании торговли и общественного питания", Законом Республики Беларусь "О защите прав потребителей" и иными нормативными и правовыми документами, регулирующими вопросы розничной купли-продажи.
1.2.1 Покупателем в рамках данной оферты выступает физическое лицо, имеющее намерение приобрести или приобретающее товары для личного, семейного, домашнего и иного подобного использования, не связанного с предпринимательской деятельностью;
1.3. Фактом принятия (акцепта) Покупателем условий настоящего договора является сообщение о выборе и заказе товара, отправленное путем нажатия кнопки "Оформить заказ" на сайте в разделе "Корзина" или при оформлении заказа через телефонную связь с помощью сотрудника компании, в порядке и на условиях, определенных настоящим Договором и условиями пункта 3 статьи 408 Гражданского Кодекса Республики Беларусь.
1.4. Покупатель, независимо от варианта оформления заказа товара в интернет-магазине, принимает и соглашается со всеми условиями настоящего договора и размещенной на сайте информацией в момент принятия Продавцом заказа.
1.5. Покупатель, совершая оформление заказа товаров с выбранным способом доставки "Магазин Мастак", принимает и соглашается со следующими условиями:
1.5.1. Принимая заказ на сайте, ООО "7745 Большой магазин" выступает в качестве агента ООО “Инструменткомплект Борисов” - далее по тексту Магазин "Мастак", действуя от имени и по поручению Магазина “Мастак”, при этом права и обязанности по договору купли-продажи возникают у Магазина “Мастак”.
1.5.2.Договор купли-продажи Товара заключается непосредственно между Магазином "Мастак" и Покупателем, и считается заключенным с момента выдачи продавцом покупателю кассового или товарного чека, иного документа, подтверждающего факт приобретения товара, если иное не предусмотрено законодательством или договором.
1.6. Размещение на сайте некорректной или неполной информации о товаре признается технической ошибкой.
1.7. Продавец оставляет за собой право вносить изменения в настоящий договор и в информацию на сайте, которые вступают в силу с момента их размещения на сайте и подлежат применению ко всем Покупателям, совершающим заказ после их размещения.
1.8. Покупатель и Продавец при совместном упоминании в тексте договора именуются Сторонами.
1.9. Стороны гарантируют друг другу, что обладают соответствующим правом и достаточным объемом дееспособности, а равно всеми иными правами и полномочиями, необходимыми для заключения и исполнения настоящего договора.</h4>

{%  endblock %}