{% extends 'base.html' %}

{% block content-head %}

    <h1 class="bread-h1 catalog-header-news-articles">Банковская карта</h1>
    <div class="general-page">Банковской картой Вы можете рассчитаться:
        <ul style="list-style:none;padding:0;">
            <li>— при доставке товара курьером;</li>
            <li>— в пункте выдачи заказов;</li>
            <li>— онлайн-платежом при оформлении заказа (кроме карты Черепаха);</li>
            <li>— через систему ЕРИП;</li>
        </ul>

        <p>Мы принимаем MasterCard, Visa Electron, Visa, Maestro, Белкарт, МИР и карты рассрочки.</p>
        <img src="/img/online_payways.png?1201" alt="Перечень принимаемых карт">

        <p>При оплате картами рассрочки не действует программа бонусов и скидок.</p>

        <h2><strong>Оплата картой онлайн</strong></h2>
        Для совершения платежа необходимо:
        <ul style="list-style:none;padding:0;">
            <li>— добавить товары в корзину на сайте;</li>
            <li>— оставить контакты для согласования и сведения для доставки;</li>
            <li>— выбрать вариант оплаты Предварительная оплата / Оплата картой онлайн или Оплата картой рассрочки онлайн и
            подтвердить заказ.
            </li>
        </ul>

        <p>Если при оформлении заказа будет выбран самовывоз
            из пункта выдачи или доставка по Минску, то
            вы
            будете перенаправлены на страницу оплаты. К стоимости заказа может быть добавлена стоимость доставки, если сумма
            заказа
            ниже порога бесплатной доставки. В случае выбора доставки
                по Беларуси
            возможность оплатить онлайн появится после обработки заказа сотрудником Отдела продаж. Ссылка для оплаты будет
            доступна
            на странице Мои заказы.</p>


        <p class="item-general-page__hint">Для ввода данных вы будете перенаправлены на закрытую от несанкционированного
            доступа и максимально соответствующую
            правилам безопасности (PCI DSS Level 1) платежную страницу системы bePaid. При поддержке вашей
            карточкой технологии 3-D Secure потребуется проверить подлинность владения на зашифрованной
            странице вашего банка.</p>

        <p class="item-general-page__hint">Сохраняйте подтверждение о проведении платежа – вы получите электронный чек на
            указанный вами e-mail. Образец чека
            доступен по ссылке.</p>

        <p class="item-general-page__hint">При отказе от части товаров в заказе осуществляется возврат денежных средств на
            сумму, равную стоимости этих товаров.
            При отказе от всего заказа возвращается полная стоимость заказа.</p>


        <h2><strong>Оплата через систему "Расчет" (ЕРИП)</strong></h2>
        <img src="/images/logo/logo-raschet.jpg" style="margin: 5px 0;width: 140px;" alt="Логотип системы Расчёт">
        <p>Оплатить заказанный товар через систему "Расчет" (ЕРИП) можно:</p>
        <ul class="circle-marker-list">
            <li>наличными:
                <ul style="list-style:none;padding:0;">
                    <li>— в кассах Банков, в Отделениях банковского обслуживания;</li>
                    <li>— в инфокиосках с купюроприемником (Cash – in);</li>
                </ul>
            </li>
            <li>пластиковой картой:
                <ul style="list-style:none;padding:0;">
                    <li>— в кассах Банков, в Отделениях банковского обслуживания;</li>
                    <li>— в POS - терминалах;</li>
                    <li>— в инфокиосках;</li>
                </ul>
            </li>
            <li>онлайн:
                <ul style="list-style:none;padding:0;">
                    <li>— через интернет – банк;</li>
                    <li>— электронными деньгами через систему EasyPay и Webmoney</li>
                </ul>
            </li>
        </ul>
        <p class="item-general-page__hint">Полный список мест оплаты находится на сайте поставщика услуг — <a rel="nofollow" href="http://raschet.by">raschet.by</a>
        </p>
        <p class="item-general-page__hint">Для оплаты необходимо знать номер заказа – он будет сгенерирован после оформления покупки через сайт или озвучен
            специалистом Отдела продаж. В меню используемого способа оплаты выбрать "Расчет" или "Ерип". В списке услуг
            нужно
            найти "Интернет-магазины/сервисы", перейти в раздел компаний из списка "0…9" и выбрать "7745.by" или ввести
            номер
            услуги - 4442041. Далее Вам будет предложено ввести Фамилию, Имя, Отчество и номер заказа. Завершите оплату и
            сохраните подтверждение о ее проведении.</p>


    </div>

{% endblock %}